apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: chromadb
spec:
  serviceName: chromadb
  replicas: 1
  selector:
    matchLabels:
      app: chromadb
  template:
    metadata:
      labels:
        app: chromadb
    spec:
      securityContext:
        fsGroup: 1000
      containers:
        - name: chromadb
          image: chromadb/chroma:latest
          ports:
            - containerPort: 8000
          env:
            - name: IS_PERSISTENT
              value: "true"
            - name: PERSIST_DIRECTORY
              value: /chroma
          volumeMounts:
            - name: chroma-data
              mountPath: /chroma
      volumes:
        - name: chroma-data
          persistentVolumeClaim:
            claimName: chromadb-pvc
